.card1 {
    background-color: #f8995a;
    width: 500px;
    height: 500px;
}
.card2 {
    background-color: #7af07a;
    height: 50%;
    width: 50%;
}
.card3 {
    width: 50%;
    height: 50vh;
    background-color: rgb(127, 206, 255);
}
.card4 {
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}
.titulo1 {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}